body {
    font-family: 'Roboto', sans-serif;
    color: #2d3c49;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}

h1 {
    text-align: right;
    text-transform: uppercase;
    font-size: 3em;
}

h2{
    color: #7d97ad;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

h3 {
    text-transform: uppercase;
    font-size: 1.5em;
    width: 100%;
}

hr {
    border-color: #7d97ad;
    width: 100%;
    margin: 10px 0 10px 0;
}

p{
    text-align: center;
}

div#banner {
    text-align: right;
    text-transform: uppercase;
    font-weight: bolder;
    width: 100%;
}

#main {
    width: 100%;
    text-align: center;
}

#header {
     width: 100%;

}

.img-logo{
    float: left;
    position: relative;
    margin: 10px;
}

.img-article {
    text-align: center;
    margin: 0 auto;
}
@media screen and (max-width: 770px) {
    body {
        width: 100%;
        font-size: 1em;
        text-align: center;

        }
    }
@media screen and (max-width: 420px) {
    body {
        width: 100%;
        font-size: 0.8em;
        text-align: center;
        }
    }